.hero-slider {
  width: 100%;
  height: 85vh;
  position: relative;
  overflow: hidden;
  background-color: #eee;
}

.slider-wrapper {
  display: flex;
  height: 100%;
  transition: transform 1s ease-in-out;
}

.slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 50px;
}

.cta-button {
  padding: 12px 28px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  background-color: #be95c4;
  border: 2px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cta-button:hover {
  background-color: #333;
  color: #ffffff;
}
