

.navbar {
    position: relative;
    z-index: 1;
    top:0;
  display: flex;
  width: 100%;
  justify-content: space-between; 
  align-items: center;
  padding: 1.5rem 5%; 
  background-color: #FAF3F0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  border-bottom: 1px solid #181817; 
}

.navbar-logo a {
  font-size: 1.75rem;
  font-weight: 500;
  color: #111;
  text-decoration: none;
  letter-spacing: 1px;
}


.navbar-links {
  display: flex;
  gap: 2.5rem; 
}

.navbar-links a {
  color: #333;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #000;
}


.navbar-actions {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.navbar-actions a {
  color: #333;
  text-decoration: none;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}

.navbar-actions a:hover {
  color: #000;
}
.navbar-logo  {
  font-family: Cinzel;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 1.2rem 5%; 
  background-color: #FAF3F0;
  border-bottom: 1px solid #EAE0DC;
}
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
  }

  .navbar-logo a {
    font-size: 1.5rem;
  }

  .navbar-links {
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .navbar-links a {
    font-size: 0.8rem;
  }

  .navbar-actions {
    width: 100%;
    justify-content: center;
    gap: 2rem;
  }
}